[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=KeySafe
Comment=A password safe
Exec=/usr/bin/keysafe
Type=Application
Terminal=false
Categories=GNOME;Utility;Security
